/* место для вашего кода */
.header {
    display:flex;
    align-items: center;
    margin: 88px 24px 96px 24px;  
}

.header_menu {
   padding: 44px 25px 39px 26.5px;
}

.header__links-list{
    display:flex;
    list-style: circle;
    font-size: 18px;
    letter-spacing:0.3px;
    gap: 30px;
}    
    

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo-image{
    margin: 0 185px 0 10px;
    display: block;
    width: 148px;
    height: 105px;
   }

.address {
    padding: 5px 26px 2px 0px;
    font-style: normal;
    line-height: 23px;
    font-size: 18px;  
}

.cover {
    display: block;
    padding: 0 0 53px 0 ;
    background-image: url(../images/cover.jpg);
    background-position: center;
    width: 1100px;
    background-size: cover;
    position: relative;
    z-index: 0;
    text-transform: uppercase;
}

.overlay {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
    z-index: 0;
}

.cover_title {
    display: block;
    padding: 165px 50px 121px 50px;
    color: white;
    font-size: 100px;
    letter-spacing: 30px;
    line-height: 123%;
    position: relative;
    z-index: 1;
}

.aligned-text {
    display: flex;
    justify-content: left;  
}

.aligned-text_center {
    display: flex;
    justify-content: center;
}

.aligned-text_right{
    display: flex;
    justify-content: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no_letter_spacing{
    letter-spacing: 0;
}

.cover_dexcription {
    font-size: 22px;
    
}

.cover_dexcription_text{
    padding: 0 74px 0px 78px;
    word-spacing: 18px;
    display: inline;
    position: relative;
    z-index: 1;
    color: white;
}

.bet_button{
    width: 256px;
    height: 51px;
    font-family:inherit; 
    font-size: 22px;
    font-weight: 100;
    color: white;
    border: 1px solid white ;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.lots {
    padding: 179px 24px 146px 24px;
    display: block;
}

.lots_heading{
    padding-left: 40px;
    font-size: 40px;
}

.lots_card-list {
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    display: flex;
    justify-content: space-between;
    width: 334px;
    min-height: 563px;
    color: white;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card_title {
    padding: 51px 40px 0 40px;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 1;
}

.card_text {
    padding: 0 40px 48px 40px;
    font-size: 20px;
    z-index: 1;
}

.lots_look-more-link {
    display: block;
    margin-right: 810px;
    padding: 31px 0 0 40px;
    font-size: 20px;
}

.about {
    padding: 0px 24px 180px 24px;
    display: flex;
    gap: 25px;
}

.about_column-logo{
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    min-width: 334px;
    height: 563px;
}

.about_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.about_image-logo{
    display: block;
    background-size: cover;
    background-position:center;
    width: 148px;
    height: 114px;
}

.about_column-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.about_title{
    padding-top: 136px;
    display: flex;
    align-items: end;
    font-size: 40px;
}

.about_text{
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-size: 20px;
}
    
.footer {
    margin: 0 0 0 35px;
    display: flex;
    justify-content: space-around;
}

.footer_menu{
    margin: 0 0 0 165px;
}

.footer__menu-list-item{
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.footer_social-list{
    margin: 0 35px 138px 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 48px;
}

.footer__social-link {
    list-style: none;
}

.footer__social-icon{
    display: block;
    width: 48px;
    height: 48px;
}